verde = #7bab3d
amarillo = #fbef44
azul = #45aabb
verdetran = rgba(123, 172, 61, .75)
azultran = rgba(69, 170, 187, .9)

.vacantes
	.row
		.col-sm-5
			width 48%		
		.vacante
			color white
			position relative
			height 200px
			background azul
			margin 10px
			.titul
				text-align center
			a
				position absolute
				bottom 0
				right 0
				color white !important
				padding 10px 45px
				opacity .5
				border 0				
				&:hover
					opacity 1
					color white !important
			
.divider		
	border-bottom 5px solid verdetran
	margin 2em 0
.addvacantes
	label
		color verde
	input
	textarea
	select
		border 1px solid azul
		color azul
.regis
	margin auto		
	color white !important
	display block

			