verde = #7bab3d
amarillo = #fbef44
azul = #45aabb
verdetran = rgba(123, 172, 61, .75)
azultran = rgba(69, 170, 187, .9)

@font-face {
    font-family: Junction;
    src: url('../fonts/Junction-webfont.ttf');    
}

body
	font-family Junction
	font-size 18px
	margin 0
	padding 0
.bold
	font-weight bold
textarea
	resize none	
.slidermain
	margin-top 51px
	position relative
	transition all 1s ease
	img	
		width 100%
		
	.camera_caption
		div
			background azultran
			font-family Junction
			font-size 18px
			padding 5px
			text-align center
.logo
	position absolute
	top 55px
	img
		width 30%
		
.carousel-control.right
.carousel-control.left
	background-image none
.navbar-default .navbar-nav>.open>a
.navbar-default .navbar-nav>.open>a:hover
	background-color transparent	
.navbar-default
	border-color transparent	
	.navbar-toggle
		border-color transparent
		&:hover
			background-color transparent	
	.navbar-collapse
		border-color transparent	
		padding 0	
.navbar-nav
	margin 0	
.nav .open>a
.nav .open>a:hover
.nav .open>a:focus	
	background-color transparent	

.menumain
	background azultran
	left 0
	position fixed
	right 0
	top 0
	transition all 1s ease
	z-index 99
	
	ul
		li
			&:hover
				background amarillo
				
				a
					color  black !important
			a
				color white !important
				font-size 18px
				text-align center
				&:hover
					background amarillo
			.submenu 
				background-color azultran !important	
				padding 0 !important
				li
					
					a
						color white !important
						font-size 16px
						&:hover
						&:focus
						&:active
							color black !important						
								
			
.infomain
	hr
		border-top 3px solid azul
		margin 10px 0
	.menuother
		.row
			margin 0
			.col-md-3
			.col-xs-3
				margin 20px 0 0 0					
				
				a
					color verde
					text-decoration none

				h2
					font-size 14px	
					margin 0
					text-align center
					
	.divider
		padding 1em	0	
	
	.vacante
		h2
			background azul
			color white
			margin 0 0 1em 0
			padding 5px 10px
			width 155px
		.camera_caption
			div
				background rgba(0, 0, 0, .75)
				font-size 18px
				padding 5px
				text-align center
		.camera_wrap 
			img
				width 100% !important
				margin-left 0 !important
						
		.logo_slider
			position absolute
			top 20px
			left 13px	
			img
				width 20% !important	
		.infovacante
			.fecha
				font-size 18px	
				position absolute
				right 14px
				top 8px
		
			.descripcion							
				bottom 30px
				font-size 10px
				position absolute
				text-align center
				left 25%
				p
					padding 0
					margin 0
				.aplican
					font-weight bold	
	.ubicacion
		.titul
			color verde	
			font-size 22px	
			margin-top 30px
			text-align center
	.nosotros
		position relative
		.encabezado
			color white
			background azul
			border 10px solid amarillo
			text-align center
			padding 10px
		.titul		
			color azul
			text-align center
			line-height 16px
			border-bottom 4px solid amarillo
			span
				color verde
				font-size 14px
		.quienes
			img
				width 100%	
		.mision	
			img
				width 100%		
		.vision
			img
				width 100%		
		.valores
			img
				width 100%							
				
	.contacto
		width 70%
		margin 0 auto
		.titul
			padding 1em
			color verde
			border-bottom 2px solid azul
		form	
			margin-top 2em			
			label
				color verde	
	
	.masservicios					
		margin-top 2em
		ul
			padding-left 25px
			li
				a
					color verde
					i
						padding 0px 8px
		#registroempresa
			.logoempresa
				img
					width 30%
					margin 0 auto	
					display block
			.datos
				margin-top 1em	
		#busquedacandidato
			.titul
				color azul				
				text-decoration underline	
				text-align center
				font-size 18px
			p
				color verde
					
	.registro
		.s
			display none
			
		.titul
			text-align center
			color verde
		.iconitos
			border-bottom 4px solid amarillo
			.row
				padding 0
				.col-xs-3
					padding 0
				.icono
					p
						color azul
						font-size 15px
		.campos
			img
				width 30px
			input
			textarea
			select
				border 1px solid azul
				color azul
			#textareainput
				height 34px				
				transition all 1s ease
				&:hover
				&:active	
					height 100px
			.categoria			
				.titulother
					color white
					background-color azul
					padding 6px
				.subtitul
					color azul
					border-bottom 3px solid amarillo	
					text-align center
		.divider
			border-bottom 3px solid amarillo
	.regis
		margin 0 auto
		width 300px
		display block
		background azul
		color white !important
		&:hover
			background azultran
	.perfil
		input
		textarea
		select
			border 1px solid azul
			color azul
		.subtitul
			color azul
			border-bottom 3px solid amarillo	
			text-align center
			width 83%
		.tabs-left
			li
				margin-bottom -1px
				background azultran				
				a
					color white
					&:hover
						background amarillo
						color black
				
			.active
				a
					color black	
					background amarillo
		.avatar
			float none
			margin 0 auto
			 
		.menuprofile-mobil 
			ul
				list-style none
				padding 0
				margin 0
				text-align center
				background azultran
				li
					padding 5px 0
					margin 0
					a
						text-decoration none
						color white
						display block
		.col-xs-12
		.col-xs-3	
			padding 0
			margin 0			
		.contenidoperfil
			margin-top 2em
			.titulother
				background-color azul
				color white
				padding 6px
				text-align center	
				width 100%			
				img
					width 50px
			.formu
				margin-top 2em	
	.login
		.titul
			background verde
			color white
			text-align center
			padding 10px	
		.dow	
			text-align right
			button
				background azul	
				border-color transparent
				border-radius 0px
				&:hover
					background azultran								
						
						
					
					
							
.nav-tabs
	border-bottom 0

.clear
	clear both	
	
.mapa
	height 300px			
	width 100%
			
footer
	background verde
	color white
	margin-top 1em
	padding-top 10px
	position relative
	text-align center
	p
		margin 0
	.social
		img
			width 50px		
		
@media (min-width 550px)
	.infomain 
		.menuother
			.row 
				.col-md-3 
				.col-xs-3
					h2
						font-size 18px
		.vacante
			.logo_slider
				position absolute
				top 37px
				left 25px
				img
					width 15% !important	
			.infovacante
				.fecha
					top 25px	
					right 32px
				.descripcion
					font-size 18px
					left 24%
					bottom 65px	
		.nosotros	
			.titul
				font-size 30px
				line-height 20px
				margin 20px 0
				span
					font-size 18px



@media (min-width 768px)
	.logo
		top 100px	
		left 12px
		img
			width 40%
	.container-fluid
		width 90%
	.menumain
		margin 0 auto
		width 100%
		li
			.submenu
				
				li
					a
						padding 10px
			a
				padding 18px 20px
				img
					width 20px
			i
				font-size 25px	
	.slidermain
		margin-top 87px
		.camera_caption 
			div	
				font-size 1.5em
	.container
		width 95%	
		
	.img-responsive					
		height 110px
		margin 0 auto
		
	.infomain 
		.menuother
			.row 
				.col-md-3 
				.col-xs-3
					h2
						font-size 1.5em	
		.nosotros
			.headnosotros
				position relative
				height 150px
				.encabezado
					width 500px
					position absolute
					right 0
				.logonosotros
					width 240px		
					position absolute	
			.quienes
				position relative
				height 400px
				.titul
					width 500px
					position absolute
					right 0
				img
					width 40%						
					position absolute
					left 50px
					top 90px
				.texto
					position absolute
					top 95px
					width 518px
					right 0	
				.flechaabajo
					position absolute 
					left -60px
					bottom 50%	
					img
						width 215px
						z-index 9
			.mision
				position relative
				height 390px
				.titul
					width 500px
					position absolute
					left 0		
				img
					width 40%
					position absolute 
					right 0		
					top 0
				.texto
					position absolute
					width 500px
					left 0		
					top 100px
				.fechaderecha
					position absolute
					right 240px
					top 210px	
					img
						width 200px
			.vision
				position relative
				height 500px
				.titul
					width 500px
					position absolute
					right 0
				img
					width 40%
					position absolute
					left 0 
					top 0
				.texto
					position absolute
					width 500px
					right 0
					top 100px
				.fechaderecha
					position absolute
					right 500px
					top 300px	
					img
						width 215px
										
			.valores
				position relative
				height 400px
				.titul
					width 500px
					position absolute
					left 0
				img
					width 40%
					position absolute
					right 0
					top 0
				.texto
					position absolute
					left 0
					top 100px	
					width 500px		
		.registro
			.titul
				font-size 2em
			.campos
				.categoria
					.titulother
						margin-left -5%
						width 500px	
						img
							width 60px	
							margin-left 40px
					.subtitul
						width 83%	
				.cuenta
					position relative	
					.img-user
					.img-contra	
						width 80px
						position absolute
						left 23%
							
					.img-contra
						bottom 0
						left 22%
					.img-user
						top 68px	
								
			.iconitos
				.row
					.icono
						position relative
						p
							text-align center
							font-size 1.5em	
						.flecha	
							position absolute
							width 70px
							top 15%
							right -30px
								
			.regis
				padding 20px									
				color white !important
				font-size 18px
		.perfil
			.contenidoperfil				
				.titulother				
					width 500px
					margin auto	
					border-radius 50px
			.avatar
				height 300px
				width 313px	
		.login
			.titul				
				padding 10px
				width 300px
				margin 2em auto			
				display block
				font-size 1.5em
				i
					padding 0 15px
					font-size 1.5em	
			.dow	
				text-align right
				button
					background azul	
					&:hover
						background azultran	
																
									
																		
	footer
		padding-bottom 10px
		.social
			position absolute
			right 5px
			top 5px
			img
				width 50px
		ul
			padding 0
			margin 0
			li
				display inline-block
				
				span
					padding 0px 5px		
		a
			color white !important	
			text-decoration none
			
@media (min-width 900px)
	.infomain
		.vacante
			.logo_slider
				top 100px
				left 60px
			.infovacante
				.fecha
					font-size 22px
					right 60px
					top 64px	
					-webkit-transform rotate(-10deg)
					transform rotate(-10deg)
				.descripcion
					font-size 15px
					text-align initial
					left 27%	
					
	.nav-tabs
		border-bottom 1px solid #ddd				
							
			
@media (min-width:1000px)	
	.menumain 
		ul
			li
				.submenu
					width 100% !important
					max-width none !important 
				
	.slidermain 
		.camera_caption 
			div	
				padding 20px
	.infomain 
		.ubicacion 
			.titul
				font-size 1.5em	
		hr
			margin 15px 0 									
					

@media (min-width:1300px)	
	.menumain 
		ul
			li 
				a	
					padding 18px 50px	
	.slidermain 
		.camera_caption 
			div	
				padding 20px	
	.infomain 
		.vacante 
			.imgslider
				height 400px
				width 100%	
			.logo_slider
				top 125px
				left 100px
			.infovacante
				.fecha
					font-size 25px
					right 142px
					top 85px
					transform rotate(-9deg)
				.descripcion
					left 30%
					font-size 18px
		.nosotros 
			.headnosotros 
				.logonosotros	
					margin-top 10px	
					width 330px	
					z-index 9
				.encabezado
					width 700px
					font-size 2em
					right 10px	
			.quienes
				height 500px
				img
					left 260px	
					top 65px	
				.flechaabajo
					left -195px
					img
						width 245px	
			.mision
				height 450px
				img
					right 120px	
				.fechaderecha 
					right 420px
					top 256px
					z-index 9
					img
						width 245px
			.vision
				height 570px
				.fechaderecha
					img
						width 270px			
			.valores
				img
					right 80px	
				.texto 
					width 600px		
		.registro
			.campos
				.cuenta
					.img-contra
					.img-user
						left 25%						
								
					 	

@media (min-width:1390px)																		
	.menumain 
		ul 
			li 
				a
					padding 18px 48px
	.infomain 
		.nosotros 
			.mision 
				.fechaderecha					
					right 429px
							
			